@charset "utf-8";
body, td { font-family:"Trebuchet MS"; font-size:11pt; color:#111; }
body { margin:0; background:#fff; }
form { margin:0; }
img { border:0; }
a { color:#cc6600; }
.clear { clear:both; }

.content p { margin:0 0 13px 0; }
.content ul { padding: 0; margin: 0 0 15px 25px; }
.content li { margin: 0 0 5px 0; }
.content h1 { color: #cc6600; font-size: 14pt; font-weight: normal; }
.content h2 { color: #cc6600; font-size: 13pt; font-weight: normal; }
.content hr { border: none; border-bottom: 1px solid #ddd; }
.content img { border: 0; }
.content h1, .content h2, .content h3, .content p { margin:0 0 13px 0; }

.main { max-width: 924px; text-align: left; }
.header { margin-bottom: 20px; }
.header h1 { font-size: 22pt; font-weight: normal; text-align: center; }
.header .header-box { max-width: 924px; height: 256px; background: url('../img/header.jpg') top center no-repeat; }
.contacts { padding: 15px 0 0 15px; }
.contacts a { font-size: 10pt; text-decoration: none; border-bottom: 1px dotted #cc6600; }
.contacts .address { margin: 0 0 20px 0; }
.contacts .phones td { font-size: 13pt; font-weight: bolder; }

.strong { font-weight: bolder; }
.center { text-align: center; }
.notice { padding: 20px 0 0 0; font-size: 14pt; }

.bottom { padding: 20px 0; text-align: center; }

.tariffs table { text-align: left; background: #ddd; margin: 10px 0 0 0; }
.tariffs th, .tariffs td { background: #fff; }
.tariffs th { text-align: center; }
.tariffs .days { display: inline-block; width: 180px; }
.tariffs .price { font-weight: bolder; }
